@keyframes change {
  from {background-color: rgba(248,249,250,1);}
  to {background-color: #45d4cd;}
}
body {
  text-align: center;
  background-color: #d9d9d9;
}
.boardWrapper{
  border: 10px solid #bababa;
}
.boardRow{
  height: calc(576px/8);
}
.selectedPiece{
  background-color: #45d4cd !important;
}
.bg-playable {
  background-color: #45d4cd !important;
  animation: change 5s infinite;
}






@media screen and (max-width: 768px) {
  .boardRow{
    height: calc(300px/8);
  }
  .boardSqare img{
    width: 100% !important;
  }
}